<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bcrypt!</title>
  </head>
  <body>
<form action="/" method="post">
  <label>Input text:</label>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="password" placeholder="password">
    <input type="submit" value="btn">
</form>

<h2>Display hash here!</h2>




<h4>What is it?</h4>
<p>Bcrypt is a password hashing function.  It protects user information by obscuring their original password input.</p>
<h4>How does it work?</h4>
<p>It takes an input string and converts it to a hashed string of set characters.</p>
<h4>How to we use it in Node?</h4>
<a href="https://www.abeautifulsite.net/hashing-passwords-with-nodejs-and-bcrypt">Check this out!</a>

  </body>
</html>
